.bg-grey{
	background-color: #34495e;
}

#top-navbar-main.navbar, #top-navbar-main.navbar-toggler {
  padding-top:    0.25rem; /* 0px does not look good on small screens */
  padding-bottom: 0.25rem;
  font-size: smaller;      /* Just because I am using big size font */
  line-height: 1em;
}

#top-nav.navbar-nav {
  padding-right:5rem !important;
}

.bg-blue{
	background-color: #0f4b73;
}

.navbar-brand{
  margin-bottom: 0rem;
  margin-left: 100px;
}

#bottom-nav{
  padding-left: 30px;
}

#bottom-nav>li{
  font-size: large; 
  padding-right:30px;
  line-height: 2.8em;
}
