.bg-org{
    background-color:#ffc107;
    color: rgb(248, 169, 169);
    
}
/* ul{
    color: white;
} */

.navbar-brand{
    font-size: x-large;
    width: auto;
    /* position: absolute; */
}

.navbar-brand img{
    height: 80px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar{
    height: 80px;
    font-size: large;
    padding-top:0;
}

.bg-image{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,232,148,0.6674019949776786) 100%);
    height: 35vh;
    width: 100%;
    color: rgb(7, 0, 83);
}

.button-container{
    align-items: left;
    /* padding-left: 20px; */
    margin-top: 20px;
}

.navbar-nav ms-auto{
    padding-left: 0;
}


/* .input-group rounded{
    padding-left: 50%;
} */

/* Uncomment the following line to debug css  */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
.nav-item dropdown{
    z-index: 1;
}
